.sketchHeart {
	float: left; 
	background: url(/build/sketchHeart.png);
	background-size: 120px;
	background-repeat: no-repeat;
	width: 132px;
	height: 120px;
}


.sketchRadio {
	float: left; 
	background: url(/build/sketchNrf24l01.png);
	background-size: 100px;
	background-repeat: no-repeat;
	width: 100px;
	height: 85px;
}

.sketchUno {
	float: left; 
	background: url(/build/sketchUno.png);
	background-size: 140px;
	background-repeat: no-repeat;
	width: 140px;
	height: 118px;
}



.sketchSitting {
/*	float: right; */
	bottom:-2px;
	right:0px;
	position:absolute;
	background: url(/build/sketchSitting.png);
	background-size: 100px;
	background-repeat: no-repeat;
	width: 100px;
	height: 138px;
}

.largeSketch {
	float:left;
	font-family: kg_second_chances_sketchRg; /* no .ttf */
	font-size: 80pt;
	line-height: 100px; 
}


.width80 {
	width:80%;
}

.media150 {
	width: 150px;
}

@media only screen and (max-width : 768px) {

	.media150 {
		width:60px;
	}
	
	.width80 {
		width:100%;
	}

	.sketchHeart {
		background-size: 75px;
		width: 72px;
		height: 82px;
	}

	.sketchRadio {
		background-size: 74px;
		width: 78px;
		height: 61px;
	}

	.sketchUno {
		background-size: 80px;
	 	width: 80px;
	  	height: 67px;
	}

	.largeSketch {
		font-size: 40pt;
		line-height: 67px;
	}

	.sketchSitting {
		background-size: 73px;
		width: 73px;
  		height: 102px;
	}

}	




.fa-ul li a {
	font-weight: normal !important;
}

.thumbnail {
	/*min-height: 300px; */
	position: relative;
	text-align:center;
}

.thumbnail img {
	padding-left:20px;
	padding-right:20px;
}

.thumbnail div.caption {
	/*position: absolute; bottom: 0; left: 0;*/
	text-align:left;
}

.star, .question-sign {
	font-size: 16px;
	text-align: center;
	padding-left:30px;
}
